/* font family */
@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');


* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* primary colors */
    --very-dark-magenta: hsl(300, 43%, 22%);
    --soft-pink: hsl(333, 80%, 67%);
    /* neutral colors */
    --dark-grayish-magenta: hsl(303, 10%, 53%);
    --light-grayish-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
    /* font size   */
    --font-size: 15px;
    /* font family */
    font-family: 'Spartan', sans-serif;
}
body {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#container {
    width: 100vw;
    max-width: 1440px;
    margin: 0 auto;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "top top" "bottom bottom";
}
#top-section {
    grid-area: top;
    height: 50vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "left right" "left right";
}
#left {
    grid-area: left;
    height: 100%;
    width: 100%;
    padding-top: 125px;
    padding-left: 148px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
#title {
    font-size: 2.9rem;
    font-weight: 700;
    line-height: 100%;
    color: var(--very-dark-magenta);
}
#subtitle {
    font-size: var(--font-size);
    font-weight: 400;
    line-height: 170%;
    margin-top: 20px;
    color: var(--dark-grayish-magenta);
}
#right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    grid-area: right;
    height: 100%;
    width: 100%;
    padding-top: 125px;
    padding-right: 148px;
    padding-bottom: 25px;

   
}
.rating {
    display: flex;
    align-items: center;
    height: 23%;
    width: 75%;
    min-width: 429px;
    background-color: var(--light-grayish-magenta);
    padding-left: 35px;
    border-radius: 10px;
}
.stars {
    margin-right: 35px;
}
.rating-text {
    font-size: 1rem;
    font-weight: 700;
    font-family: 'Spartan', sans-serif;
    color: var(--very-dark-magenta);
}
#rate-one {
    transform: translateX(-71.5px);
}
#rate-three {
    transform: translateX(71.5px);
}
#bottom-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-area: bottom;
    height: 50vh;
    padding-top: 25px;
    padding-bottom: 80px;
    padding-left: 148px;
    padding-right: 148px;
    margin-top: 20px;
    
    
}
.customer {
    background-color: var(--very-dark-magenta);
    width: 31.5%;
    border-radius: 10px;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 30px;
    padding-right: 30px;
}
.customer-info {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.user-img {
    border-radius: 50%;
    width: 13%;
    margin-right: 25px;
}
.name {
    color: var(--white);
    font-size: 1.3rem;
    font-weight: 400;
    margin-bottom: 5px;
}
.status {
    color: var(--soft-pink);
    font-size: 1.1rem;
    font-weight: 400;
}
.text {
    color: white;
    font-size: 1rem;
    font-weight: 400;
    line-height: 180%;
}
#customer-one {
    transform: translateY(-19.48px);
}
#customer-three {
    transform: translateY(19.48px);
}
.attribution {
    position: absolute;
    bottom: 0px;
    font-size: 12px;
}
#top-pattern-desktop {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
}
#bottom-pattern-desktop {
    position: absolute;
    z-index: -1;
    bottom: 0px;
    right: 0px;
}
#top-pattern-mobile,
#bottom-pattern-mobile {
    display: none;
}
@media screen and (max-width: 1270px) {
    #top-pattern-desktop,
    #bottom-pattern-desktop {
        display: none;
    }
    body {
        width: 100%;
        height: auto;
    }
    #container {
        width: 100%;
        height: auto;
        padding-top: 80px;
    }
    #top-section {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        grid-template-areas: "left left" "right right";
    }
    #left {
        width: 100%;
        height: auto;
        padding: 0px;
    }
    #title,
    #subtitle {
        text-align: center;
    }
    #title {
        font-size: 32px;
        margin-bottom: 25px;
    }
    #subtitle {
        width: 90%;
        align-self: center;
        font-size: 15px;
        margin-bottom: 45px;
    }
    #right {
        width: 100%;
        height: auto;
        padding: 0px;
    }
    .rating {
        width: 90%;
        min-width: 0px;
        flex-direction: column;
        padding: 20px 0px;
        margin-bottom: 20px;
    }
    .stars {
        margin: 0px 0px 10px 0px;
    }
    #rate-one,
    #rate-three {
        transform: translateX(0);
    }
    #bottom-section {
        width: 100%;
        height: auto;
        flex-direction: column;
        padding: 50px 0px 0px 0px;
        margin-bottom: 100px;
    }
    .customer {
        width: 90%;
    }
    .attribution {
        font-size: 10px;
    }
    #top-pattern-mobile,
    #bottom-pattern-mobile {
        display: inline;
    }
    #top-pattern-mobile {
        position: absolute;
        top: 0px;
    }
    #bottom-pattern-mobile {
        position: absolute;
        bottom: 0px;
    }
}